@namespace Components.Layout
@inherits LayoutComponentBase

<MatAppBarContainer Style="height:100%">
    <MatAppBar Fixed="true">
        <MatAppBarRow>
            <MatAppBarSection>
                <MatIconButton Icon="menu" @onclick="ToggleMenu"></MatIconButton>
                <MatAppBarTitle>@_name</MatAppBarTitle>
            </MatAppBarSection>
            <MatAppBarSection Align="@MatAppBarSectionAlign.End">
                <AuthorizeView>
                    <span>Hello, @context.User.Identity.Name</span>
                </AuthorizeView>
                <Components.Layout.Navigation.LanguageSelect />
            </MatAppBarSection>
        </MatAppBarRow>
    </MatAppBar>

    <MatAppBarContent>
        <MatDrawerContainer>
            <MatDrawer @bind-Opened="@_opened" Mode="@MatDrawerMode.Dismissible">
                <NavMenu />
            </MatDrawer>
            <MatDrawerContent>
                @Body
            </MatDrawerContent>
        </MatDrawerContainer>
    </MatAppBarContent>
</MatAppBarContainer>

@code{
    bool _opened = true;
    string _name;

    //[Inject] ILogger<MainLayout> MLogger { get; set; }
    [Inject] IConfigProvider ConfigProvider { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        //MLogger.LogDebug("MainLayout OnInitAsync()");
        var config = await ConfigProvider.GetConfig();
        _name = config.Name;
    }

    void ToggleMenu()
    {
        _opened = !_opened;
    }
}